@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@400;500;600&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.haeder {
  height: 120px;
  background: rgba(28, 30, 83, 1);
  display: flex;
  align-items: center;
}

.haeder-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color:rgba(244, 246, 252, 0.2); 
}

.nav-link:hover{
  color: white;
}

.contacts{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: white;
}

.callBox button {
  width: 185px;
  height: 60px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 40px;
  background: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: rgba(244, 246, 252, 0.2);
}

.callBox button:hover {
  cursor: pointer;
  border: 2px solid white;
  color: white;
}


.main{
  background: rgb(219, 219, 219);
  height: 500px;

}
.main-container{
 width: 90%;
 margin: 0 auto;   
 display: flex;
 flex-direction: column;
 align-items: center;
}

.main-container form{
    width: 90%;
    background: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}